.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	justify-items: stretch;
}

.service {
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.content {
		grid-template-columns: 1fr;
	}

}

@media screen and (max-width: 560px) {
	.content {
		gap: 10px;
	}

	.service {
		margin: 5px 5px;
	}
}