.wrapper {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
}

.footer {
	align-self: center;
}

.header {
	position: fixed;
	width: 100%;
	border-bottom: 1px solid var(--primary);
	z-index: 10;
}

.header {
	background: linear-gradient(-45deg, var(--violet-dark), var(--black), var(--gray));
    background-size: 200% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.body {
	margin-top: 100px;
}

@media screen and (max-width: 1000px) {
	.body {
		margin-top: 110px;
	}
}

@media screen and (max-width: 560px) {
	.body {
		margin-top: 120px;
	}
}