.input {
	padding: 7px 15px;
	width: calc(100% - 30px);
	position: relative;


	color: var(--primary);
	border: none;
	outline: none;
	border-bottom: 1px solid var(--violet);
	border-radius: 10px;
	box-shadow: 0px 1px 4px var(--violet);
	background-color: var(--black);

	font-size: 16px;
	line-height: 22px;
	font-family: var(--font-family);

	transition: 0.2s ease-in;
}

.placeholder {
	position: absolute;
	left: 16px;
	bottom: -5px;

	font-size: 15px;
	white-space: nowrap;
	color: var(--primary);
	text-shadow: none;
	pointer-events: none;


	transition: 0.2s ease-in;
}

.input:focus ~ .placeholder,
.filled ~ .placeholder{
	color: var(--violet);

	left: 13px;
	bottom: 25px;
}

.input:focus{
	box-shadow: 0px 0px 10px var(--primary);
	border-radius: 10px;
	border-bottom: 1px solid var(--primary);
	color: var(--primary);
}

.error {
	border: 1px solid var(--red);
	outline-color: var(--red);
}

.inputWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 5px;
	color: var(--red);
}