.h1 {
	font-weight: 500;
	font-size: 26px;
	line-height: 35px;
}

.h2 {
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
}

.h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
}

@media screen and (max-width: 560px) {
	.h1 {
		font-size: 22px;
		line-height: 30px;
		margin: 5px;
	}

	.h2 {
		font-size: 18px;
		line-height: 25px;
	}

	.h3 {
		font-size: 16px;
		line-height: 22px;
	}
}
